* {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: rgb(46, 46, 46);
	display: flex;
	align-items: center;
	justify-content: center;
}

.backtick {
	font-size: 50px;
	color: white;
}
